<div class="container content">

  <div class="row">
    <mat-card class="col-md-2">
      <img class="mat-card-image" src="assets/img/join-team.png">
    </mat-card>
    <mat-card class="col-md-2">
      <img class="mat-card-image" src="assets/img/we-are-hiring.png">
    </mat-card>
  </div>
<br>
  <div class="row">
      <mat-card class="col-md-3">
        <!-- <img mat-card-image src="src/assets/img/bilisim-resim.png" alt=" " >-->
         <img class="mat-card-image" (click)="jobRouter()" src="assets/img/bilisim-resim.png">
       </mat-card>
       <mat-card class="col-md-3">
         <img class="mat-card-image" (click)="jobRouter()" src="assets/img/mezun-resim.png">
       </mat-card>
       <mat-card class="col-md-3">
         <img class="mat-card-image" (click)="jobRouter()" src="assets/img/saglik-resim.png">
       </mat-card>
       <mat-card class="col-md-3">
        <img class="mat-card-image" (click)="jobRouter()" src="assets/img/yönetici-resim.png">
      </mat-card>



  </div>

</div>







