/*.row{
  padding: 10½;
}*/
.col-md-2 {
  margin: auto;
  background-color:rgba(255, 255, 255, 0) ;
}
.col-md-3 {
  max-width: 300px;
 // background-color: rgb(238, 207, 245);
  margin: auto;
  cursor: pointer;
}
