<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h1 class="card-title">DÜZENLE</h1>
                      <p class="card-category">Lütfen profilinizi tamamlayın</p>
                  </div>
                  <div class="card-body">
                      <form>
                          <div class="row">
                              <div class="col-md-5">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Şirket (Aktif Değil)" disabled>
                                  </mat-form-field>
                              </div>
                          </div>
                        <div class="row">
                          <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Kullanıcı Adı">
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Email" type="email">
                            </mat-form-field>
                          </div>
                        </div>
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Ad" type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Soyad" type="text">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                            <div class="col-md-4">

                            </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Adres" type="text">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Şehir" type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Ülke" type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Posta Kodu" type="text">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                            <div class="col-md-4">

                            </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width" >

                                   <textarea matInput placeholder="Hakkında"></textarea>
                                 </mat-form-field>
                              </div>
                          </div>
                        <hr>

                          <div class="clearfix"></div>
                      </form>
                    <button mat-raised-button type="submit" class="btn btn-danger">Güncelle</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
